/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

body.block-editor-page {
  .wp-block-cs-splide-slider {
	.block-editor-inner-blocks {
	  position: relative;
	}

	.block-editor-block-list__layout {
	  position: static;
	  overflow-x: auto;
	  overflow-y: hidden;
	  display: flex;

	  .block-editor-block-list__block {
		min-width: 36%;

		.wp-block {
		  width: 100%;
		}
	  }

	  .block-list-appender {
		position: absolute;
		top: auto;
		right: 20px;
		bottom: 30px;
	  }
	}
  }
}
