/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

body.block-editor-page {
  .wp-block-cs-flickity-slider {
	.block-editor-block-list__layout {
	  overflow-x: auto;
	  display: flex;

	  .block-editor-block-list__block {
		min-width: 100%;

		.wp-block {
		  width: 100%;
		}
	  }
	}
  }
}
