/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cs-flickity-slider {
  .block-editor-block-list__layout {
	overflow-x: auto;
	display: flex;

	.wp-block {
	  min-width: 100%;
	}
  }
}
